.DS_Store

# IDE folders
.idea
.vscode

# package folders
node_modules
jspm_packages

# serverless directories
.serverless

# build folder
.webpack

# environment
.env
.env.*
!.env.example

src/**/*.js