// Global variables here
$primary: #db30a2;
$secondary: #da60f2;

$content-max-width: 1000px;
$mobile-nav-height: 70px;
$desktop-nav-height: 90px;

$grey: #a3acaa;
$light-grey: #e6eaf0;
$dark-grey: #364046;
$black: #020202;
$white: #ffffff;
$card-background: #f3f6fa;
